@import "tailwindcss";
.custom-label-rtl {
    left: inherit !important;
    right: 1.75rem !important;
    transform-origin: right !important;
  }
  .custom-label-rtl + .MuiOutlinedInput-root fieldset {
    text-align: right;
  }